.formulario_box {
  background-color: #97002B;
  align-items:center;
  justify-content:center;
  text-align: center;
  padding: 0 0 20px 0;
  flex-wrap: wrap;
}

.formulario_box h1{
  color: #EEEEEE;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.formulario {
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.formulario label{
  color: #EEEEEE;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.nome_email{
  background-color: #EEEEEE;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: none;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
}

.Duvida{
  padding: 20px;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
  resize: none;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}

.botao {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.botao input {
  bottom: 0;
  right: 0;
  width: 300px;
  height: 50px;
  color: #97002B;
  font-size: 25px;
  background-color: #EEEEEE;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .botao {
    width: 100%;
  }
  .botao input {
    width: 200px;
  }
  .formulario{
    width: 90%;
  }
}

.custom-shape-divider-top-1670773315 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1670773315 svg {
  position: static;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.custom-shape-divider-top-1670773315 .shape-fill {
  fill: #EEEEEE;
}